amqp
asgiref
beautifulsoup4
billiard
celery
certifi
click
click-didyoumean
click-plugins
click-repl
crispy-bootstrap5
distlib
dj-database-url
Django
django-bootstrap-v5
django-crispy-forms
django-email
django-environ
django-humanize
EasyProcess
entrypoint2
filelock
humanize
kombu
MouseInfo
mss
numpy
opencv-contrib-python
Pillow
pipenv
platformdirs
prompt-toolkit
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
pytz
rubicon-objc
six
soupsieve
sqlparse
typing_extensions
tzdata
vine
virtualenv
wcwidth
whitenoise